#app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
}

.gameCanvas {
  background-color: white;
  opacity: 0;
}

.userInterface {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 576px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

.blackScreen {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 576px;
  background-color: black;
}

.blackScreen h2 {
  display: flex;
  flex-direction: column;
  margin-top: 260px;
}