.bar {
  position: absolute;
  bottom: 0;
  height: 192px;
  display: flex;
  cursor: pointer;
}

.bar .dialogueText {
  position: absolute;
  margin: 30px 30px;
  font-size: 40px;
  color: var(--light-text-color);
  text-align: left;
  line-height: 70px;
}

#mainButtons {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 308px;
  height: 152px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mainButton,
.fightButton {
  border: 0 solid transparent;
  font-size: 20px;
  background-color: transparent;
  color: var(--dark-text-color);
}

.mainButton:hover,
.fightButton:hover {
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

#fightButtons {
  position: absolute;
  display: grid;
  top: 20px;
  left: 20px;
  width: 644px;
  height: 152px;
  grid-template-columns: repeat(2, 1fr);
}

#move-info {
  position: absolute;
  width: 308px;
  height: 152px;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: var(--dark-text-color);
}

#pp-info {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 30px;
  color: var(--dark-text-color);
}

#type-info {
  position: absolute;
  left: 22px;
  bottom: 25px;
}

#type {
  position: absolute;
  bottom: 0;
  left: 120px;
  width: 160px;
  border-radius: 8px;
}