@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.bar {
  position: relative;
  top: 384px;
}

.text {
  position: relative;
  color: white;
  display: inline-block;
  margin: 0;
  top: 220px;
  left: 40px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

#battle-fight-info {
  /* background-color: black; */
  position: relative;
  width: 308px;
  height: 152px;
  top: 53px;
  left: 696px;
  font-size: 30px;
  color: var(--dark-text-color)
}

#pp-info {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 30px;
  color: var(--dark-text-color);
}

#type-info {
  position: absolute;
  left: 22px;
  bottom: 25px;
}

#type {
  position: absolute;
  bottom: 0;
  left: 120px;
  width: 160px;
  border-radius: 8px;
  justify-content: center;
}