.buttons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  border: 0 solid transparent;
  font-size: 20px;
  background-color: transparent;
  color: var(--dark-text-color);
}

.button:hover {
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

.button:focus {
  outline: none;
}

#battle-menu-buttons {
  left: 695px;
  top: 161px;
  width: 308px;
  height: 152px;
}

#battle-fight-buttons {
  top: 205px;
  left: 19px;
  width: 644px;
  height: 152px;
}

#main-menu {
  position: absolute;
  right: 0;
  width: 200px;
  height: 352px;
}

#main-menu-buttons {
  position: absolute;
  top: 28px;
  left: 10px;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#main-menu-buttons button {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  height: 60px;
  font-size: 22px;
  font-weight: 1000;
  width: 180px;
}

#main-menu-buttons button:Hover {
  font-size: 18px;
}